<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<link rel="shortcut icon" href="{{ site.app_icon }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="../main.css">

	<!-- Smart link previews -->
	<meta property="og:image" content="/assets/ochi_twitter_banner.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@OchiTheApp">
	<meta name="twitter:title" content="Ochi: Block distracting Apps & Websites on iPhone, iPad, and Mac.">
	<meta name="twitter:description" content="Create timed filters that help you stay focused.">
	<meta name="twitter:image" content="https://ochithe.app/assets/ochi_twitter_banner.jpg">

	<!-- Safari 15 Tab Bar Background-->
	<meta name="theme-color" content="#92B4F4">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-YGDPGQLNF3"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-YGDPGQLNF3');
	</script>

</head>