<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="imageWrapper">
            <div class="headerBackground">
                <div class="container">
                    {% include header.html %}
                    {% include intro.html %}
                    {% include productfeatures.html %}
                    {% include ecosystemhighlight.html %}
                    {% include platformfeatures.html %}
                    <!-- {% include pressreviews.html %} -->
                    {% include footer.html %}
                    {% include appstoreimages.html %}
                </div>
            </div>
        </div>
</body>
</html>